<h3>Welcome, <%= @user.name %></h3>
<h4><%= @user.age  %></h4>
<ul>
<% @user.food_recommendations.each do |rest| %>
	
		<li>
			<%= rest.name  %> : serves alcohol? <%=  rest.serves_alcohol %>
		</li>
	
<% end %>
</ul>